<!DOCTYPE html>
<html>
<head>
    <title>Resultado</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="result-container">
        <h1>Resultado de la Cotización</h1>
        <div class="result">
            <p><strong>Costo de Financiamiento:</strong> $<%= @amounts[0] %> </p>
            <p><strong>Giro a Recibir:</strong> $<%= @amounts[1] %></p>
            <p><strong>Excedentes:</strong> $<%= @amounts[2] %></p>
        </div>
    </div>
</body>
</html>